*{
    margin: 0;
    padding: 0;
}

h6{
    width: fit-content;
    margin: 50px auto;
    font-size: 70px;
}

body {
    background-image: url("/images/second-image.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: fit-content;
    margin: 20px auto;
    background-color: rgb(0 0 0 / 75%);
    color: white;
    text-decoration: none;
    font-size: 80px;
    padding: 1vw;
    border-radius: 50px;
}
