<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <h6>Create New Downer</h6>
    <form  method="post" th:action="@{'/downer/create/?id='+ ${id}}">
        <div>
            <input required class="text" type="text" name="name" placeholder="username">
        </div>
        <div>
            <input required class="text" type="text" name="phone" placeholder="phone">
        </div>
        <div>
            <select class="text" name="bloodType">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="B+">B+</option>
                <option value="AB-">AB-</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </div>
        <div>
            <input required class="text" type="number" name="weight" placeholder="weight">
        </div>
        <div>
            <input required class="text" type="text" name="medicalExaminations" placeholder="medicalExaminations">
        </div>
        <div>
            <input class="input" type="submit" value="Add Downer">
        </div>
    </form>
</body>

</html>